<%- include('header'); -%>

    <div class="box" id="heading">
        <h1>Names of all your lists</h1>
    </div>

    <div class="list_box">
        <div class="list_item">
            Item 1
        </div>
        <div class="list_item">
            Item 1
        </div>
        <div class="list_item">
            Item 1
        </div><div class="list_item">
            Item 1
        </div>
        
        
    </div>
<%- include('footer'); -%>