<%- include('header'); -%>

    <div class="box" id="heading">
        <h1>Names of all your lists</h1>
    </div>

    <div class="list_box">
        <% listNames.forEach(list => { %>
            <div class="list_item">
                <p><%= list.name %></p>
            </div>
        <% }); %>
    </div>
<%- include('footer'); -%>