<%- include('header'); -%>

    <div class="box" id="heading">
        <h1>Names of all your lists</h1>
    </div>

    <div class="list_box">
        <% listNames.forEach(list => { %>
            <% let path = "/" + list.name; %>    
                <div class="list_item">
                    <a href=<%= path %>>
                        <%= list.name %>
                    </a>
                </div>
        <% }); %>
    </div>
<%- include('footer'); -%>