<%- include('header'); -%>
<div class="" id="home_heading">
    <h1>Welcome to the Dynamic ToDo List</h1>
    <div class="goto_list_page">
        <a href="/list">Go to Lists page</a>
        <i class="fas fa-arrow-right fa-lg"></i>
    </div>
</div>

<div class="home_div">
    <h2>Here's what you can do with this amazing website!</h2>
    <ul style="list-style-type:square;">
        <li>Register and Login via Google very easily</li>
        <li>Create numerous lists, each for different purposes.</li>
        <li>Each List can have number of tasks/items you can add.</li>
        <li>Each item can be deleted very quickly on just ONE click.</li>
        <li>You can Delete the whole list also on ONE Click</li>
        <li>You can view which lists you have and open any list quickly.</li>
    </ul>
</div>

<%- include('footer'); -%>