<!DOCTYPE html>
<head>
<title>Dynamic ToDo List</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="box" id="heading">
        <h1><%= day %></h1>
    </div>

    <div class="box">
        <% listOfItems.forEach((item) => { %>
            <div class="item">
                <input type="checkbox">
                <p><%= item %></p>
            </div>
        <% }); %>

       
        <form class="item" action="/" method="post">
            <input type="text" name="task" placeholder="enter task name...">
            <button type="submit" name="button">+</button>
        </form>
    </div>

    
</body>
</html>